<div class="memberArea">

  <div class="memberArea__gama-logo">
    <img src="assets/{{imageLogo}}" alt="Gama Academy logo">
  </div>

  <div class="loginArea">
    <div class="loginArea__title">
      <p>Faça seu login</p>
    </div>

    <div class="loginArea__formFields">
      <form [formGroup]="loginForm">
        <input class="form-control" [class.is-invalid]="showError('usuario')" type="text" placeholder="Digite seu usuário"
          formControlName="usuario">

        <input class="form-control" [class.is-invalid]="showError('senha')" type="password"
          placeholder="Digite sua senha" formControlName="senha">

        <submit-button-field (click)="onSubmit()" customText="Continuar"></submit-button-field>
      </form>

      <div class="loginArea__formFields__links">
        <a routerLink="/recovery">Esqueci minha senha <img src="../../assets/seta-continuar.svg" alt="Esqueci a senha">
        </a>
        <a routerLink="/home">Ainda não sou cliente <img src="../../assets/seta-continuar.svg"
            alt="Ainda não sou cliente"></a>
      </div>

    </div>
  </div>

</div>
