<div class="dashboard-main">

  <app-dashboard-menu></app-dashboard-menu>

  <div class="main-content">

    <div class="main-content__welcome">

      <p>Olá <strong *ngIf="this.user">{{this.user.nome}}</strong>, seja bem vindo!</p>

      <div class="main-content__welcome__links">
        <a routerLink="/dashboard"><img src="assets/refresh-cw.svg" alt="Refresh page"></a>
        <a routerLink="/login" (click)="logout()"><img src="assets/log-out.svg" alt="Log out"></a>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>

</div>
