.memberArea{
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  &__gama-logo{
    width: 100vw;
    height: 20vh;

    display: flex;
    align-items: center;
    margin-left: 4vw;

    img{
      max-width: 291px;
      width: 100%;
    }

  }

  .loginArea{
    background: var(--bg-form);
    border-radius: 8px;

    width: 34vw;
    height: 62vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title{
      width: 88%;

      margin:0 auto;

      text-align: center;
      font-size: 1.6vw;
      font-weight: 500;
    }

    &__formFields{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 88%;

      input{
       width: 100%;
       height: 6vh;

       margin-bottom: 10%;

       padding: 0 1vw;

       border: none;
       border-bottom: 2px solid var(--gray);

       transition: border-color 0.5s;
     }

     input:focus{
        border-color:  var(--purple);
     }

     &__links{
      width: 100%;
      height: 30%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-weight: 500;

      margin:0 auto;

      a{
        font-size: 1.2vw;
        line-height: 2.6vw;
      }

      img{
        margin: 0 1vw;
        width: 8%;
      }
    }

    }

  }

}

@media(max-width: 760px){
  .memberArea{

    &__gama-logo{
      justify-content: center;
      width: 90vw;
    }

    .loginArea{
      width: 96vw;
      height: 78vh;

      &__title{
        font-size: 8vw;
      }

      &__formFields{
        margin: 6vw auto;

        input{
          margin: 4vw auto;
        }

        input.ng-invalid.ng-touched{
          border-bottom: 3px red solid;
        }

        &__links{
          width: 88vw;

          a{
            font-size: 3vw;
            line-height: 3vh;
          }
        }
      }

    }

  }
}
