button{

  cursor: pointer;

  background: #fff;

  width: 26vw;
  height: 8vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: background-color 0.6s;

  border-radius: 10rem;
  border: 2px var(--purple) solid;

  margin: 1vw auto;

  p{
    color: var(--purple);
    margin:auto 1vw;
  }

}

button:hover{
  background-color: var(--green);
}

@media(max-width:760px){
  button{
    width: 72vw;
    height: 6vh;
  }

}
