<div class="panel">

  <div class="panel__gamalogo">
    <img src="assets/imagemColuna.svg" alt="gama logo">
  </div>

  <div class="panel__movements">

    <a href="/dashboard" class="panel__movements__deposit">
      <img src="assets/Pix.svg" alt="icon menu">
      <p>Depósitos</p>
    </a>

     <a href="/dashboard" class="panel__movements__plans">
      <img src="assets/Pix.svg" alt="icon menu">
      <p>Planos</p>
    </a>

    <a href="/dashboard" class="panel__movements__payments">
      <img src="assets/Pix.svg" alt="icon menu">
      <p>Pagamentos</p>
    </a>

    <a href="/dashboard" class="panel__movements__transactions">
      <img src="assets/Pix.svg" alt="icon menu">
      <p>Transações</p>
    </a>

  </div>

</div>
