  input{
    width: 26vw;
    height: 5vh;

    margin-bottom: 5%;

    padding: 0.2em 0.8vw;

    border: none;
    border-bottom: 2px solid var(--gray);

    transition: border-color 0.5s;

    font-size: 1em;
    font-weight: 400;
  }

  input:focus{
    border-color:  #8C52E6;
  }

  @media(max-width:760px) {
    input{
      width: 72vw;
      font-size: 0.8em;
    }
  }
