.frame1{
  position: relative;

  height: 100vh;
  background: url('../../../assets/happy.svg') no-repeat fixed bottom;
  background-size: 50vw;

  display: flex;
  flex-direction: column;

  .gamaImg{
    width: 56vw;
    height: 18vh;

    display: flex;
    align-items: center;
    margin-left: 2vw;

    img{
      width: 290px;
    }

  }

   .access{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    &__loginLink{
       margin-left: 4vw;

      &__text{
        max-width: 280px;
        line-height: 34px;

        color: #fff;

        font-weight: 500;
        font-size: 32px;

        > p{
           margin-bottom: 2vw;
        }
      }

      &__link{
         cursor: pointer;

         background: #fff;

         border-radius: 30px;

         width: 20vw;
         height: 54px;

         display: flex;
         align-items: center;
         justify-content: space-around;

         transition: background-color 0.6s;

        a{
           display: flex;
           align-items: center;
           justify-content: space-between;

           margin: 0 2rem;
           width: 96%;
           text-decoration: none;

           font-size: 100%;
           font-weight: 400;

          p{
             color: var(--purple);
             margin:auto 0;
          }

        }
      }

      &__link:hover{
         background-color: var(--green);
      }
    }

    &__homeFormFields{
      background: var(--bg-form);
      border-radius: 8px;

      width: 30vw;
      height: 70vh;

      margin-right: 2.8vw;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 2vw;


      p{
         font-size: 1.4vw;
         font-weight: 500;
      }

      form{
        display: flex;
        flex-direction: column;

        input{
          width: 26vw;
          height: 5vh;

          margin-bottom: 4%;

          padding: 0.2em 0.8vw;

          border: none;
          border-bottom: 2px solid var(--gray);

          transition: border-color 0.5s;

          font-size: 1em;
          font-weight: 400;
        }

        input:focus{
          border-color:  var(--purple);
        }
      }

      input.ng-invalid.ng-touched{
        border-bottom: 3px red solid;
      }

      .invalid-feedback{
        color: red;
        font-size: 1vw;
        font-weight: 500;

        margin: 0;
        padding: 0;
        height: 2.4vh;
      }


    }

   }
}
