<div class="dashboard-main">

  <app-dashboard-menu></app-dashboard-menu>

  <div class="main-content">

    <div class="main-content__welcome">

      <p>Olá <strong>Usuário</strong>, seja bem vindo!</p>

      <div class="main-content__welcome__links">
        <button routerLink="/dashboard" ><img src="assets/refresh-cw.svg" alt="Refresh page"></button>
        <button routerLink="/home" (click)="logout()"><img src="assets/log-out.svg" alt="Log out"></button>
      </div>
    </div>

    <div class="main-content__data">

      <div class="main-content__data__current-account">

        <div class="main-content__data__current-account__title">
          <img src="assets/Group.svg" alt="Icon Conta">
          <p>Conta</p>
        </div>

        <div class="main-content__data__current-account__balance">
          <p>Saldo disponível</p>
          <strong>10000</strong>
        </div>

        <div class="main-content__data__current-account__transactions">
          <p>Transações</p><strong>15000</strong>
        </div>

      </div>

      <div class="main-content__data__savings-account">

        <div class="main-content__data__savings-account__title">
          <img src="assets/credit-card1.svg" alt="Icon Conta">
          <p>Conta Crédito</p>
        </div>

        <div class="main-content__data__savings-account__balance">
          <p>Fatura atual</p>
          <strong>10000</strong>
        </div>

        <div class="main-content__data__savings-account__transactions">
          <p>Limite disponível</p><strong>15000</strong>
        </div>
      </div>

    </div>

    <div class="main-content__last-release">
      <div class="main-content__last-release__title">
        <img src="assets/Group.svg" alt="Icon Releases">
        <p>Últimos lançamentos</p>
      </div>

      <div class="main-content__last-release__shopping">

        <img src="assets/credit-card2.svg" alt="Icon Releases">

        <div class="description">

          <div class="description__title">
            <strong>Compra no débito</strong> <p>Dia 24 de Jan.</p>
          </div>

          <p>Gama Academy</p>
          <strong>298,55</strong>

        </div>
      </div>

    </div>
  </div>

</div>
