<div class="dashboard-main">

  <app-dashboard-menu></app-dashboard-menu>

  <div class="main-content">

    <div class="main-content__welcome">

      <p>Olá <strong *ngIf="this.user">{{this.user.nome}}</strong>, seja bem vindo!</p>

      <div class="main-content__welcome__links">
        <a routerLink="/dashboard"><img src="assets/refresh-cw.svg" alt="Refresh page"></a>
        <a routerLink="/login" (click)="logout()"><img src="assets/log-out.svg" alt="Log out"></a>
      </div>
    </div>

    <div class="main-content__data">

      <div class="main-content__data__current-account">

        <div class="main-content__data__current-account__title">
          <img src="assets/Group.svg" alt="Icon Conta">
          <p>Conta</p>
        </div>

        <div class="main-content__data__current-account__balance">
          <p>Saldo disponível</p>
          <strong>{{dashboard.contaBanco.saldo | currency: 'BRL'}}</strong>
        </div>

        <div class="main-content__data__current-account__transactions">
          <p>Transações</p><strong>{{15000 | currency: 'BRL'}}</strong>
        </div>

      </div>

      <div class="main-content__data__savings-account">

        <div class="main-content__data__savings-account__title">
          <img src="assets/credit-card1.svg" alt="Icon Conta">
          <p>Conta Crédito</p>
        </div>

        <div class="main-content__data__savings-account__balance">
          <p>Fatura atual</p>
          <strong>{{dashboard.contaCredito.saldo | currency:'BRL'}}</strong>
        </div>

        <div class="main-content__data__savings-account__transactions">
          <p>Limite disponível</p><strong>{{15000 | currency: 'BRL'}}</strong>
        </div>
      </div>

    </div>

    <div class="main-content__last-release">
      <div class="main-content__last-release__title">
        <img src="assets/Group.svg" alt="Icon Releases">
        <p>Últimos lançamentos</p>
      </div>

      <div class="main-content__last-release__shopping">

        <img src="assets/credit-card2.svg" alt="Icon Releases">

        <div class="description" *ngFor="let lancamento of this.dashboard.contaBanco.lancamentos">

          <div class="description__title">
            <strong>{{lancamento.descricao}}</strong>
            <p>{{lancamento.data | date: 'dd-MM-yyyy'}}</p>
          </div>

          <p>{{lancamento.planoConta.descricao}}</p>
          <strong>{{lancamento.valor | currency: 'BRL'}}</strong>

        </div>

        <img src="assets/credit-card2.svg" alt="Icon Releases">

        <div class="description" *ngFor="let lancamento of this.dashboard.contaCredito.lancamentos">

          <div class="description__title">
            <strong>{{lancamento.descricao}}</strong>
            <p>{{lancamento.data}}</p>
          </div>

          <p>{{lancamento.planoConta.descricao}}</p>
          <strong>{{lancamento.valor | currency: 'BRL'}}</strong>

        </div>
      </div>

    </div>
  </div>

</div>
