<div class="memberArea">

  <div class="memberArea__gama-logo">
    <img src="assets/{{imageLogo}}" alt="Gama Academy logo">
  </div>

  <div class="loginArea">
    <div class="loginArea__title">
      <p>Nova senha</p>
    </div>

    <div class="loginArea__formFields">
      <form [formGroup]="changePasswordLogin">
        <input class="form-control" [class.is-invalid]="showError('usuario')" type="text" placeholder="Digite seu usuário"
          formControlName="usuario">

        <input class="form-control" [class.is-invalid]="showError('senha')" type="password"
          placeholder="Digite a nova senha" formControlName="senha">

        <submit-button-field (click)="onSubmit()" customText="Continuar"></submit-button-field>
      </form>

      <div class="loginArea__formFields__links">
        <a routerLink="/home">Voltar</a>
      </div>

    </div>
  </div>

</div>
