@import 'bootstrap';

:root{
  --purple:#8C52E6;
  --gray: #878686;
  --white:#fff;
  --bg-form:#FBFBFB;
  --green:#68DE5A;
  --blue-value: #007bff;
  --dash-btn: #639bd0;
}

*{
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
   background-color: var(--purple);
}
