.dashboard-main{
  width: 100vw;
  height: 100vh;

  display: flex;

  .main-content{
    width: 76%;
    height: 80%;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__welcome{
      display: flex;
      justify-content: space-between;

      p{
        color: #fff;
        font-weight: 500;
        font-size: 1.4vw;
        line-height: 1.6vw;
      }

      strong{
        font-size: 2.6vw;
      }

      &__links{
        width: 8vw;

        display: flex;
        align-items: center;
        justify-content: space-around;

        a{
          display: flex;
          align-items: center;
          justify-content: center;

          background: var(--green);

          width: 3vw;
          height: 3vw;

          border: none;
          border-radius: 50%;

          transition: background-color 0.2s;


          img{
            width: 70%;
          }
        }

        a:hover{
          background-color: #60cf54;
        }
      }
    }

    &__data{

      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30%;

      margin: auto 0;

      &__current-account, &__savings-account{
        width: 45%;
        height: 100%;

        border-radius: 8px;

        background-color: var(--bg-form);

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vw;

        &__title{
          display: flex;
          margin: 1vw 0;

          img{
            width: 2.4vw;
          }

        }

        &__balance{
          strong{
            margin:0 1vw;
            font-weight: 700;
            font-size: 1.8vw;
            line-height: 35px;
          }
        }

        &__transactions{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0.8vw 0;

          strong{
            margin:0 1vw;

            font-weight: 700;
            font-size: 1.8vw;
            line-height: 35px;
            color: var(--green);
          }

        }
          p {
            display: flex;
            align-items: center;

            margin:0 1vw;

            font-size: 1vw;
            font-weight: 400;
            color: var(--gray);
          };
      }

      &__savings-account{

        &__title{
          p{
          margin: 0 2vw;
          }
        }

        &__balance{
          strong{
            color: #1783E7;
          }
        }
      }

    }

    &__last-release{
      width: 100%;
      height: 50%;

      background-color: var(--bg-form);

      border-radius: 8px;

      padding: 2vw;

      &__title{
        display: flex;
        margin: 1vw 0;

        font-size: 1vw;

        img{
          width: 2.4vw;
        }
      }

      &__shopping{
        display: flex;
        margin: 1vw 0;


        img{
          width: 2.4vw;
        }

        .description{
          width: 100%;
          height: 100%;

          font-size: 1vw;

          strong{
            margin:0 1vw;
            font-size: 1.2vw;
          }

          &__title{

            display: flex;
            justify-content: space-between;

            strong{
              font-size: 0.9vw;
              line-height: 19px;
            }

            p{
              font-weight: 400;
              font-size: 0.8vw;
              line-height: 0.9vw;
            }
          }

        }
      }

      p {
        display: flex;
        align-items: center;

        margin:0 1vw;

        font-weight: 400;
        color: var(--gray);
      };

    }



  }
}
