<div class="frame1">
  <img src="assets/gama-academy-logo-horizontal-verde-branco1 1.svg" alt="Gama academy">

  <div class="access">
    <div class="access__loginLink">

      <div class="access__loginLink__text">
        <p>Gama Bank é um projeto de nossos alunos.</p>
        <p>Já tem conta?</p>
      </div>

      <div class="access__loginLink__link">
        <a href="login">
          <p>Acessar</p>
          <img src="../../assets/seta-acessar.svg" alt="Fazer login">
        </a>
      </div>

    </div>

    <div class="access__formFields">
      <h4>Peça sua conta e cartão de crédito Gama Bank</h4>
      <form>
        <input-text-field [customPlaceHolder]="'Digita seu CPF'"></input-text-field>
        <input-text-field [customPlaceHolder]="'Escolha um nome de usuário'"></input-text-field>
        <input-text-field [customPlaceHolder]="'Nome completo'"></input-text-field>
        <input-text-field [customPlaceHolder]="'Digite sua senha'"></input-text-field>
        <input-text-field [customPlaceHolder]="'Confirme sua senha'"></input-text-field>
        <submit-button-field [customText]="'Continuar'"></submit-button-field>
      </form>
    </div>
  </div>

</div>

<div class="frame2">

  <div class="frame2__phone">

    <div class="frame2__phone__black">

      <div class="frame2__phone__black__title">
        <p>Cartão de Crédito</p>
      </div>

      <img src="assets/app-bg1.svg" alt="cellphone black">

      <div class="frame2__phone__black__description">
        <p>Rende mais que a poupança,
          sem taxa de manutenção
          nem tarifas escondidas.</p>
      </div>

    </div>

    <div class="frame2__phone__white">

      <div class="frame2__phone__white__title">
        <p>Cartão de Crédito</p>
      </div>

      <img src="assets/app-bg2.svg" alt="cellphone white">

      <div class="frame2__phone__white__description">
        <p>Rende mais que a poupança,
          sem taxa de manutenção
          nem tarifas escondidas.</p>
      </div>
    </div>

  </div>

</div>

<div class="frame3">

  <div class="description">

    <div class="description__Title">
      <p>Zero anuidade</p>
    </div>

    <div class="description__subDescription">
      <p>Burocracia custa caro. Somos eficientes para você não ter que pagar tarifas.</p>
    </div>

  </div>

  <div class="description__price">
    <p>0,00</p>
  </div>

</div>

<div class="frame4">
  <div class="description">
    <p class="description__Title">
      O fim da complexidade
    </p>
    <p class="description__subDescription">
      Para quem sabe que tecnologia e design são melhores do que agências e papelada.
    </p>

  </div>

</div>

<div class="frame5">

  <div class="container">

    <div class="container__description">

      <div class="container__description__subDescription">
        <p>Simplifique a sua
          vida. Peça seu
          convite.</p>
      </div>

      <div class="container__description__address">
        <p>GamaAcademy Bank Line S.A. - CNPJ 00.000.000/0000-00</p>
        <p>Rua Fictícia, 999 - 00000-000 - São Paulo, SP</p>
        <p>Este é um projeto de avaliação | GamaAcademy | Accenture | 2021</p>
      </div>

    </div>

    <div class="container__cellphone">
      <img src="assets/pngkey1.svg" alt="cellphone">
    </div>

  </div>

</div>
